body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game-container {
    display: block;
    width: 80%;
    gap: 20px;
}

#hero-sidebar, #enemy-section {
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.5;
    font-size: 12px; /* Slightly increase font size */
}

#play-area {
    text-align: center;
}

.card {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

#card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#action-description {
    margin-top: 20px;
}

#discard-pile {
    background-color: bisque;
    margin: 10px;
    padding: 10px;

}

#deck-pile {
    background-color: cadetblue;
    margin: 10px;
    padding: 10px;
}

#end-turn #begin-battle {
    background-color: lightgreen;
    margin: 10px;
    padding: 10px;
}

#card-selection {
    margin: 10px;
    padding: 10px;
}





