* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.battle-container {
    width: 80vw;
    min-width: 600px;
    aspect-ratio: 16 / 9;
    margin: 20px auto;
    background-color: grey;
    gap: 0px 0px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 15% auto 15% 15% 15% 20%;
    grid-template-rows: 20% 1fr 30%;
    grid-template-areas :
        "enemy-status       enemy-status    enemy-action    .               .               hero-status"
        ".                  .               .               action-log      action-log               ."
        "deck-pile          cards           cards           cards           discard-pile    end-turn";
}

.card-container {
    grid-area: cards;
    background-color: teal;
    display: flex;
    flex-direction: row;
    position: relative;
    /* overflow: hidden; */
}

#card-preview {
    position: absolute;
    bottom: 0;
    height: 45vh;
    width: 15vw;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    background-color: yellow;
    color: #333;
    transform-origin: bottom center;
    left: 35vw; transform: translateY(-15vw) rotate(-3deg); z-index: 10000;
    opacity: 0.2;
}

.card {
    position: absolute;
    bottom: 0;
    height: 20vh;
    width: 7vw;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    color: #333;
    transform-origin: bottom center;
}

.card:hover {
    opacity: 0.3;
}

.card:hover #card-preview {
    opacity: 1.0;
}

.card:nth-child(1) { left: 20%; transform: translateY(-20px) rotate(-30deg); z-index: 1; }
.card:nth-child(2) { left: 26.3%; transform: translateY(-30px) rotate(-20deg); z-index: 2; }
.card:nth-child(3) { left: 33.6%; transform: translateY(-35px) rotate(-10deg); z-index: 3; }
.card:nth-child(4) { left: 40%; transform: translateY(-40px) rotate(0deg);  z-index: 4; }
.card:nth-child(5) { left: 46.3%; transform: translateY(-35px) rotate(10deg); z-index: 5; }
.card:nth-child(6) { left: 53.6%; transform: translateY(-30px) rotate(20deg); z-index: 6; }
.card:nth-child(7) { left: 60%; transform: translateY(-20px) rotate(30deg); z-index: 7; }

button {
    font-family: "Papyrus";
    font-weight: bolder;
    padding: 20px;
    font-size: 16px;
    margin: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.discard-pile-container {
    grid-area: discard-pile;
    background-color: red;
}

.card-preview {
    grid-area: card-preview;
    background-color: yellow;
}

.deck-pile-container {
    grid-area: deck-pile;
    background-color: red;
}

.hero-status-container {
    grid-area: hero-status;
    background-color: teal;
}

.end-turn-container {
    grid-area: end-turn;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enemy-status-container {
    grid-area: enemy-status;
    background-color: teal;
}

.action-log-container {
    grid-area: action-log;
    background-color: green;
}

.enemy-action-container {
    grid-area: enemy-action;
    background-color: red;
}

#transition-layer {
    grid-area: transition;
}