:root {
    --gradient-background: linear-gradient(to top, #333, rgba(7,7,7,0.7));
}

* {
    font-family: "Luminari", "fantasy";
    /* font-family: "arial"; */
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

button {
    font-family: "Papyrus";
    font-weight: bolder;
    padding: 20px;
    font-size: 16px;
    margin: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.battle-container {
    position: relative;
}

/* Background images ------------------------------------- */

.background-overlay {
    position: absolute;
    top: 0;
    left: 2%;
    right: 60%;
    bottom: 0;
    background-image: url('../img/axe-shaman.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 1;
}

.battle-container > *:not(.background-overlay) {
    z-index: 2;
    position: relative;
}

.hero-portrait {
    grid-area: hero-portrait;
    background-image: url("../img/barbarian.png");
    background-size: 225%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: lightgrey;
}

/* Game State Containers ------------------------------------------------------------------------ */

.game-container {
    width: 900px;
    min-width: 600px;
    aspect-ratio: 16 / 9;
    margin: 20px auto;
}

.battle-container {
    width: 100%;
    height: 100%;
    gap: 0px 0px;
    display: grid;
    grid-auto-flow: row;
    background-color: white;
    grid-template-columns: 15% auto 15% 15% 15% 20%;
    grid-template-rows: 20% 1fr 16%;
    grid-template-areas :
        "enemy-health       enemy-health    enemy-action    .               .               hero-status"
        ".                  .               .               action-log      action-log      hero-portrait"
        "deck-pile          cards           cards           cards           discard-pile    end-turn";
}


/* Cards in hand ------------------------------------------------------------------------------------ */

.card-container {
    grid-area: cards;
    background: var(--gradient-background);
    display: flex;
    flex-direction: row;
    position: relative;
    /* overflow: hidden; */
}

#card-preview {
    position: relative;
    bottom: 0;
    height: 45vh;
    width: 15vw;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    background-color: yellow;
    color: #333;
    transform-origin: bottom center;
    left: -15vw;
    transform: translateY(10vw) rotate(-3deg);
    z-index: 10000;
    opacity: 0.0;
}

.card {
    position: absolute;
    bottom: 0;
    height: 20vh;
    width: 7vw;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    background-color: #fff;
    color: #333;
    transform-origin: bottom center;
}

.card:hover {
    opacity: 0.3;
}

.card:hover #card-preview {
    opacity: 1.0;
}

.card:nth-child(1) { left: 20%; transform: translateY(-20px) rotate(-30deg); z-index: 1; }
.card:nth-child(2) { left: 26.3%; transform: translateY(-30px) rotate(-20deg); z-index: 2; }
.card:nth-child(3) { left: 33.6%; transform: translateY(-35px) rotate(-10deg); z-index: 3; }
.card:nth-child(4) { left: 40%; transform: translateY(-40px) rotate(0deg);  z-index: 4; }
.card:nth-child(5) { left: 46.3%; transform: translateY(-35px) rotate(10deg); z-index: 5; }
.card:nth-child(6) { left: 53.6%; transform: translateY(-30px) rotate(20deg); z-index: 6; }
.card:nth-child(7) { left: 60%; transform: translateY(-20px) rotate(30deg); z-index: 7; }

/* Draw and discard piles ------------------------------------------------------------------------------------ */

.discard-pile-container {
    grid-area: discard-pile;
    background: var(--gradient-background);
}

.deck-pile-container {
    grid-area: deck-pile;
    background: var(--gradient-background);
}

.card-counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck-count {
    font-size: 300%;
    width: 100%;
    height: 100%;
    text-align: center;
    color: black; /* Text color */
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px  2px 0 #fff, 2px  2px 0 #fff;
    background-image: url('../img/draw.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.discard-count {
    font-size: 300%;
    width: 100%;
    height: 100%;
    color: black; /* Text color */
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px  2px 0 #fff, 2px  2px 0 #fff;
    background-image: url('../img/draw-small.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.end-turn-container {
    grid-area: end-turn;
    background: var(--gradient-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Health & status ---------------------------------------------------------------------------- */


.hero-status-container {
    grid-area: hero-status;
    background-color: lightgrey;
}

.enemy-health-container {
    grid-area: enemy-health;
}

.status-grid {
    margin: 10px;
}

.health-container {
    position: relative;
    width: 100%;
    height: 20px;
}

.health-slider-background {
    border: 2px solid black;
    position: absolute;
    background: linear-gradient(to top, grey, black);
    width: 100%;
    height: 20px;
    z-index: 1;
    border-radius: 40px;
}

.health-slider {
    border: 2px solid black;
    position: absolute;
    background: linear-gradient(to top, red, darkred);
    width: 69%;
    height: 20px;
    z-index: 2;
    border-radius: 40px;
}

.health-container p {
    position: absolute;
    z-index: 3;
    width: 50%;
    text-align: center;
    color: black; /* Text color */
}

.status-icon {
    background-color: grey;
    width: 25px;
    height: 25px;
    margin: 5px 2px;
}


.bleed-status {

}
.stun-status {

}
.empower-status {

}
.enfeable-status {

}
.burn-status {

}

.status-effects-container {
    display: flex;
    justify-content: start;
}

#hero-health {
    text-align: right;
}

#hero-name {
    margin: 0 5px;
    text-align: right;
}

#enemy-name {
    margin: 0 7px;
}

#hero-status-effects {
    justify-content: end;
}

/* 

/* Enemy Action -------------------------------------------------------------------------------- */

.enemy-action-container {
    grid-area: enemy-action;
}

.enemy-action {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

.enemy-action h1 {
    margin: 0 15px 0 15px;
    font-size: 40px;
    background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-color: red;
    text-align: center;
}

.enemy-action h2 {
    font-weight: 900;
    color: red;
    font-size: 40px;
    text-align: center;
}


/* Action Log ---------------------------------------------------------------------------------- */

.action-log-container {
    grid-area: action-log;
}