
body, html {
    font-family: 'Arial', sans-serif;
    background-color: white;
}

h1 {
    font-family: "URW Chancery L", cursive;
    font-size: 60px;
    margin: 100px;
}

h2 {
    font-family: "URW Chancery L", cursive;
    font-size: 48px;
    margin: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

button:hover {
    background-color: #cdefcf;
}

.game-container {
    width: 100%;
    margin: 200px auto;
    background-color: #999;
    flex-grow: 1;
    display: none;
    margin: 0 auto;
}

.hand {
    display: flex;
    flex-direction: row;
}

.card {
    width: 120px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
}

#hero-sidebar {
    display: none;
    width: 200px;
    height: 100%;
    background-color: #8b8b8b;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-sidebar img {
    width: 80%;
    height: auto;
}

#player-icon img {
    width: 95%; /* Adjust as needed */
    height: auto;
    display: block; /* Makes the image a block to allow margin auto to work */
    padding: 20px;
    margin: 0 auto 10px; /* Centers the image and adds space below */
}

#title-menu {
    display: none;
    text-align: center;
}

#dialog-menu {
    display: none;
    text-align: center;
}

#dialog-menu p {
    text-align: justify;
    width: 400px;
    padding: 50px;
    font-family: "Luminari", "fantasy";
}

#hero-select-menu {
    display: none;
    text-align: center;
}

#battle-screen {
    display: none;
}

#battle-screen img {
    width: 200px;
    height: 200px;
}

#game-area {
    display: flex;
    width: 1000px;
    height: 600px;
    background-color: #999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}