body, html {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cdefcf;
}

.game-container {
    width: 1200px;
    height: 600px;
    margin: 200px auto;
    background-color: #999;
}

.card {
    width: 120px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
}

#character-info {
    width: 20%;
    background-color: #8b8b8b;
    float: right;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    /* TODO: Add styles for portrait, health, armor, mana */
}

#player-icon img {
    width: 95%; /* Adjust as needed */
    height: auto;
    display: block; /* Makes the image a block to allow margin auto to work */
    padding: 20px;
    margin: 0 auto 10px; /* Centers the image and adds space below */
}

#hand {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

#title-menu {
    display: none;
}

#dialog-menu {
    display: none;
}

#hero-select-menu {
    display: none;
}

#battle-screen {
    display: none;
}

#hero-sidebar {
    display: none;
}