@font-face {
    font-family: 'Eater';
    src: url('Eater-Regular.ttf') format('truetype');
}

body, html {
    font-family: "Luminari", "fantasy";
    background-color: black;
}

h1 {
    text-align: center;
    font-family: "Luminari", "fantasy";
    font-size: 75px;
    color: white;
    font-weight: 900;
    margin: 150px 0 80px 0;
    text-shadow: 3px 3px #000000;
}

h2 {
    font-family: "Luminari", "fantasy";
    font-size: 48px;
    margin: 100px;
}

h3 {
    font-family: "Luminari", "fantasy";
    font-size: 36px;
    margin: 10px;
}

button {
    font-family: "Papyrus";
    font-weight: bolder;
    padding: 20px;
    font-size: 16px;
    margin: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

button:hover {
    background-color: #cdefcf;
}

.game-container {
    width: 100%;
    margin: 200px auto;
    background-color: #999;
    display: none;
    margin: 0 auto;
}

.hand {
    display: flex;
    flex-direction: row;
}

.card {
    width: 120px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
}

.text-flash { animation: textFlashEffect 0.5s; }
@keyframes textFlashEffect {
    0% { color: red; }
    100% { color: black; }
}

.img-flash { animation: flashEffect 0.5s; }
@keyframes flashEffect {
    0% { background-color: red; }
    100% { background-color: white; }
}

.border-flash { animation: flashBorderEffect 2.0s; }
@keyframes flashBorderEffect {
    0% { border-color: red;}
    100% { border-color: black; }
}

.text-flash-blue { animation: textFlashEffectBlue 2.0s; }
@keyframes textFlashEffectBlue {
    0% { color: rgb(50, 255, 255); }
    100% { color: black; }
}

.border-flash-blue { animation: flashBorderEffectBlue 2.0s; }
@keyframes flashBorderEffectBlue {
    0% { border-color: rgb(50, 255, 255);}
    100% { border-color: black; }
}

.wavy {
    animation-name: wavy;
    animation-duration: 1.3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
    color:#fff;
  }
  @keyframes wavy {
    0% {
      top: 0px;
      color:#555;
    }
    50% {
      top: -10px;
      color:#fff;
    }
    100% {
      top: 0px;
      color:#555;
    }
  }

#hero-sidebar {
    display: none;
    width: 200px;
    height: 100%;
    background-color: #8b8b8b;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    font-style: italic;
}

#hero-sidebar p {
    transition: opacity 800ms;
}

#hero-portrait {
    border-radius: 15px;
    border: 5px solid #000;
    width: 80%;
    height: auto;
}

#draw-pile {
    font-weight: bold;
    margin: 100px 0 0 0;
}

#draw-pile-image {
    width: 75px;
}

#enemy-sidebar {
    padding: 20px;
    display: flex;
}

#enemy-sidebar img {
    border-radius: 35px;
    border: 7px solid #000;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: white;
}

#enemy-name {
    font-weight: bold;
}

#enemy-status {
    padding: 10px;
}

#class-label  {
    font-weight: bold;
    font-family: "Luminari", "fantasy";
}

#title-menu {
    display: none;
    text-align: center;
    background-image: url("img/crypt.png");
    background-position: center;
}

#title-menu p {
    font-size: 150%;
    color: white;
    transform: translateY(150px);
}

#title-menu button {
    width: 150px;
    height: 100px;
    background-color:#4CAF50;
}

#title-menu button:hover {
    background-color: #8dac8e;
}

#dialog-menu {
    display: none;
    text-align: center;
}

#dialog-menu p {
    text-align: justify;
    width: 600px;
    padding: 70px;
    font-size: x-large;
    font-family: "Luminari", "fantasy";
    margin: 100px auto 100px;
    background-image: url("img/scroll.png");
    background-size: 100% 100%;
    color:rgb(24, 37, 37);
    opacity: 80%;
}

#enemy-intro-menu {
    text-align: center;
}

#enemy-intro-menu img {
    width: 300px;
    margin: 30px 0 0 0;
    border-radius: 80px;
    background-color: white;
}

#enemy-intro-menu h3 {
    font-family: "Eater";
    font-weight: bolder;
    font-size: 48px;
    border-radius: 30px;

}

#enemy-intro-menu p {
    text-align: center;
    font-style: italic;
    margin: 16px;
}

#hero-select-menu {
    background-image: url("img/selection-bg.png");
    background-size: cover;
    transition: background-image 0.15s ease-in-out;
}

#hero-select-menu h2 {
    margin:0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

#hero-select-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 400px;
}

#hero-select-buttons button {
    font-family: "Luminari", "fantasy";
    width: 20%;
    height: 50px;
    padding: 10px;
    margin: 0 5px;
}

#battle-screen {
    display: none;
}

#game-area {
    display: flex;
    width: 1000px;
    height: 600px;
    background-color: #999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.transition-layer {
    animation-name: transition-layer;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    position: absolute;
    z-index: 999;
    width:100vw;
    height: 100vw;
    background-color: black;
    opacity: 0.0;
  }
  @keyframes transition-layer {
    0% {
      opacity: 1.0;
    }
    100% {
      opacity: 0.0;
    }
  }

  .transition-layer-container {
    position: absolute;
    z-index: 999;
    width:100vw;
    height: 100vw;
  }

  .transition-layer-cell {
    animation-name: transition-layer-cell;
    animation-duration: 2.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-color: red;
  }
  @keyframes transition-layer-cell {
    0% {
      opacity: 1.0;
    }
    100% {
      opacity: 0.0;
    }
  }